html,
body,
#vditor {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.vditor {
  border: unset;
  border-radius: unset;
  font-family: "Consolas", "Monaco", "Microsoft YaHei", "PingFang SC", sans-serif;
}

.vditor-ir pre.vditor-reset:focus {
  background-color: var(--panel-background-color);
}

/* 滚动条美化 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* 暗黑模式优化 */
.vditor--dark {
  --panel-background-color: #1f1f1f !important;
  --textarea-background-color: #1f1f1f !important;
  --toolbar-background-color: #1f1f1f !important;
}

.vditor--dark ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
.vditor--dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.vditor--dark pre.vditor-reset blockquote {
  background-color: #2a2d2e !important;
}

pre.vditor-reset blockquote {
  background-color: rgba(27, 31, 35, .05) !important;
}


.vditor--dark .vditor-reset code:not(.hljs):not(.highlight-chroma) {
  background-color: #2a2d2e !important;
}

.vditor--dark .vditor-reset .hljs {
  background-color: #2b2b2b !important;
}

.vditor--dark .vditor-reset {
  color: #cccccc !important;
}

.vditor--dark .vditor-reset table tr {
  background-color: #2a2d2e !important;
}

.vditor--dark .vditor-reset table tbody tr:nth-child(2n) {
  background-color: #2b2b2b !important;
}

.vditor--dark .vditor-reset table td,
.vditor--dark .vditor-reset table th {
  border: 1px solid #585858 !important;
}

/* Outline Position - Left */
.vditor--outline-left .vditor-outline {
  left: 0 !important;
  right: auto !important;
  border-right: 1px solid #d1d5da;
  border-left: none !important;
}

.vditor--dark.vditor--outline-left .vditor-outline {
  border-right: 1px solid #3f4448;
}

.vditor-outline__action {
  float: right;
  cursor: pointer;
  padding: 0 5px;
  opacity: 0.6;
}
.vditor-outline__action:hover {
  opacity: 1;
}